.logo {
  text-align: center;
}

.page_title {
  text-align: center;
}

.category_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr 1fr));
  gap: 1rem;
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.category_card {
  display: block;
  padding: 1.5rem;
  background: rgb(231, 204, 204);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 1px solid #ded4d4;
  transition: 0.2s;
}

.category_card:hover {
  background: #f1e6e6;
  transform: scale(1.03);
}

.product_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.product_card {
  display: block;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  transition: 0.2s;
  position: relative;
}

.product_card img {
  width: 100%;
  border-radius: 8px;
}

.product_card:hover {
  transform: scale(1.03);
}

/* Rabat */
.nedsat .old_price {
  text-decoration: line-through;
  color: #888;
}

/* Udsolgt */
.udsolgt {
  opacity: 0.5;
}

.sold_out_badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
}
.product_page {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.product_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.product_image img {
  width: 100%;
  border-radius: 10px;
}

.product_info h2 {
  margin-top: 0;
}

.price {
  font-size: 1.3rem;
  font-weight: bold;
}

.old_price {
  text-decoration: line-through;
  color: #888;
}

.sold_out_text {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}

.back_button {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  background: rgb(231, 204, 204);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;
}

.back_button:hover {
  background: #f1e6e6;
}
